:root {
  --primary-color: #1a52f1;
  --tertiary-color: #000000;
  --tertiary-alt-color: #ffffff;

  --text-primary: #595959;
  --text-secondary: #c3c3c3;
  --text-secondary-light: #e3e3e3;
  --text-tertiary: #ffffff;
  --ash: #c4c4c4;

  --header-bg-color: #ffffff;
  --button-bg-color: #4caf50;
  --button-text-color: #ffffff;

  --header-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  --header-box-shadow-mobile: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-primary);
  scroll-behavior: smooth;
}

/* General Stylings */

.section-container {
  padding: 100px 120px;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 80px 20px !important;
  }
}

a {
  border: none !important;
  box-shadow: none !important;
}

input,
textarea {
  box-shadow: none !important;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.heading {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.sub-heading {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.form-control {
  border: 1px solid var(--ash) !important;
}
.form-control::placeholder {
  color: var(--ash) !important;
}

/* Header */

.site-header {
  z-index: 1000;
  padding: 40px 120px !important;
}
@media screen and (max-width: 767px) {
  .site-header {
    padding: 20px !important;
  }
}

.site-header nav,
.site-header .signup-btn,
.site-header .site-name-bar {
  border-radius: 50px;
  background-color: var(--header-bg-color);
  padding: 11px 20px !important;
  width: fit-content !important;
  height: 45px !important;
  box-shadow: var(--header-box-shadow);
  color: var(--tertiary-color);
}

.site-header .signup-btn {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
}

.site-header .site-logo {
  width: 30px;
}

.site-header .site-name {
  width: fit-content;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.site-header nav li.nav-item {
  list-style: none;
}

.site-header nav .nav-link {
  padding: 0 !important;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .site-header .site-name-bar {
    padding: 11px 10px !important;
    border-radius: 10px;
    box-shadow: var(--header-box-shadow-mobile);
  }

  .site-header nav {
    background-color: transparent !important;
    padding: 20px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: fit-content;
    padding: 0 !important;
  }

  .site-header .list-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color) !important;
    padding: 20px !important;
  }

  .site-header .navbar-toggler {
    display: block;
    width: fit-content;
    border: none !important;
    border-radius: 50px !important;
    background-color: var(--header-bg-color) !important;
    padding: 6px 8px !important;
    box-shadow: var(--header-box-shadow-mobile);
    margin-left: auto !important;
  }

  .site-header .navbar-toggler.cancel-btn {
    padding: 8px !important
  }

  .site-header nav ul {
    margin-top: 70px !important;
  }

  .site-header nav li.nav-item {
    color: var(--text-tertiary);
  }

  .site-header .action-bar {
    width: 100%;
  }

  .site-header .signup-btn {
    box-shadow: var(--header-box-shadow-mobile);
  }
}

/* Hero Section */

.hero {
  position: relative !important;
  background-color: var(--primary-color);
  background-image: url('./assets/img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  overflow: hidden !important;
  padding-top: 20px !important;
}

.hero-inner {
  margin: auto;
  margin-top: 150px;
}

.hero .welcome-heading {
  font-size: 67px !important;
  font-weight: 800 !important;
  color: var(--button-text-color);
}

.hero .welcome-para {
  max-width: 650px;
  color: var(--button-text-color);
}

.hero .cta-box {
  width: fit-content;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.hero .cta-btn {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 700;
  background-color: var(--tertiary-alt-color);
}

.hero .hero-hand-img {
  margin-left: 50%;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .hero {
    height: fit-content !important;
    padding-bottom: 0 !important;
  }

  .hero-inner {
    margin-top: 130px !important;
  }

  .hero .welcome-heading {
    font-size: 48px !important;
    margin-bottom: 15px !important;
  }

  .hero .welcome-para {
    text-align: center;
    /* font-size: 16px; */
    margin-top: 20px;
  }

  .hero .hero-hand-img {
  }
}

/* Card section */

.card-cont-illustration {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.card {
  padding: 25px 15px;
  width: 100%;
  height: 490px;
  border-radius: 15px;
  border: 1px solid var(--ash);
  overflow: hidden;
}

.card .icon-badge {
  width: 30px;
}

.card .text-box {
  margin-top: 20px;
}

.card p {
  font-size: 18px;
}

.card .card-img-box {
  height: 200px;
}

.card .card-img-box.box1 {
  background-color: #c4da00;
}

.card .card-img-box.box2 {
  background-color: #558248;
}

.card .card-img-box.box3 {
  background-color: #a2421b;
}

.card .card-img {
  width: 200px;
  margin-left: 50%;
  transform: translate(-50%, 20px);
}

@media screen and (max-width: 767px) {
  .card-container {
    margin-top: 220px !important;
  }

  .card-cont-illustration {
    width: 200px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

/* What You Love Section */

section.what-you-love {
}

section.what-you-love .heading {
  color: var(--text-secondary-light);
}

section.what-you-love .row-container {
  background-color: var(--primary-color);
  position: relative;
}
/* Torn effect at the bottom */
section.what-you-love .row-container img.after {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
}

section.what-you-love .row-container .happybuyer {
  position: absolute;
  top: 0;
  right: 100px;
  transform: translateY(-46%) rotate(15deg);
  width: 300px;
}

section.what-you-love .row-container .row {
  background-color: var(--primary-color);
  padding: 10px 0;
}

section.what-you-love .row-container .img-box {
  width: fit-content;
  padding: 20px;
  border-radius: 15px;
  background-color: #229bf4;
}

section.what-you-love .row-container .img-box img {
  width: 100%;
}

section.what-you-love .row-container .sub-heading {
  color: var(--text-tertiary);
}

section.what-you-love .row-container p {
  color: var(--text-secondary);
}

@media screen and (max-width: 767px) {
  section.what-you-love .section-text-box {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
  }

  section.what-you-love .heading {
    width: 50%;
    margin: 0 !important;
  }

  section.what-you-love .row-container .happybuyer {
    top: 0;
    right: 0;
    width: 250px;
  }

  section.what-you-love .row-container {
    padding-top: 150px !important;
  }

  section.what-you-love .row-container .row {
    margin-bottom: 30px !important;
  }
  section.what-you-love .row-container .row:last-child {
    margin-bottom: 0 !important;
  }

  section.what-you-love .row-container .img-box {
    margin-bottom: 20px;
  }

  section.what-you-love .row-container img.after {
    bottom: -100px;
    left: 0;
    width: auto;
  }
}

/* Newsletter Section */

.newsletter-section {
  padding-bottom: 165px;
  padding-top: 165px;
}

.newsletter-section .heading {
  color: var(--text-secondary-light);
}

.newsletter-section p {
  width: 85%;
}

.newsletter-section .newsletter-form label {
  font-size: 14px;
  font-weight: 500;
}

.newsletter-section .newsletter-form .form-control {
  width: 80%;
  font-size: 16px;
}

.newsletter-section .newsletter-form .submit-btn {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--text-tertiary);
}

.newsletter-section .nl-img {
  position: absolute;
  top: 20px;
  left: -30px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .newsletter-section {
    padding-bottom: 240px !important;
    padding-top: 150px !important;
  }

  .newsletter-section p {
    width: 100% !important;
    /* margin-bottom: 20px !important; */
  }

  .newsletter-section .newsletter-form .form-control {
    width: 100% !important;
  }

  .newsletter-section .nl-img {
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    /* top: -80px; */
  }
}

/* Footer Section */

.site-footer {
  background-color: var(--tertiary-color);
  padding: 60px 120px !important;
}

.site-footer .logo-container {
  width: fit-content;
}

.site-footer .paragraph {
  font-size: 16px;
  color: var(--text-secondary-light);
  max-width: 480px;
}

.site-footer .site-name {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  color: var(--text-tertiary);
}

.site-footer .nav-bar-heading {
  color: var(--text-tertiary);
  margin-bottom: 20px;
  font-size: 20px;
}

.site-footer .nav-bar {
  padding: 0 !important;
}

.site-footer .nav-bar li {
  list-style: none;
  color: var(--text-tertiary);
  margin-top: 5px;
}

.site-footer .nav-bar li a {
  color: var(--text-secondary-light);
  text-decoration: none;
  font-size: 15px;
}
.site-footer .nav-bar li a:hover {
  color: var(--text-secondary);
}

hr.footer-separator {
  border: none;
  background: linear-gradient(
    to right,
    transparent,
    var(--tertiary-alt-color),
    transparent
  );
  height: 3px;
}

.site-footer .copryright-text {
  color: var(--text-secondary-light);
  font-size: 15px;
}

.site-footer .social-icon-container {
  width: 160px;
  margin-left: auto;
}

.site-footer .social-icon {
  width: 24px;
}
.site-footer .social-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .site-footer {
    padding: 60px 20px !important;
    text-align: center !important;
  }

  .site-footer .paragraph {
    width: 100% !important;
  }

  .site-footer .logo-container {
    margin: auto;
    /* margin-bottom: 20px !important; */
  }

  .site-footer .nav-bar {
    margin-bottom: 10px !important;
  }

  .site-footer .nav-bar-heading {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }

  .site-footer .nav-bar li {
    list-style: none;
    color: var(--text-tertiary);
    margin-top: 5px;
  }

  .site-footer .social-icon-container {
    width: 100%;
    margin: auto !important;
    margin-bottom: 20px !important;
  }
}
